<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Writte New Chats</title>
</head>
<body>
    <h1>Write new Chat ..</h1>
    <form action="/chats" method="POST">
        <input type="text" placeholder="Who Are YOu?" name="from"><br><br>
        <textarea name="msg" id=""> Write your message here..</textarea><br><br>
        <input type="text" placeholder="Add Receiver" name="to"><br> <br>
        <button>Create chat</button>
    </form>
    
</body>
</html>